@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    html {
        font-family: "Poppins", sans-serif;
    }

    body {
        min-height: 100vh;
    }

    #root {
        @apply relative h-fit min-h-screen w-full bg-slate-100;
    }


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {

    .drag-handle {
        cursor: move;
        cursor: -webkit-grabbing;
    }

    .ghost {
        opacity: 30%;
    }
}